html {
    margin: 0;
    padding: 0;
}

/* 랭킹, 추천 문제, 새로운 문제 박스 */

#ranking > #ranking-box {
    border: 1px solid #1D9595;
    width: 200px;
}

#ranking {
    float: left;
}

#notice > #notice-box {
    border: 1px solid #1D9595;
    width: 200px;
}

#newly-updated-problems > #newly-updated-problems-box {
    border: 1px solid #1d9595;
    width: 200px;
}

/* 상단 부분 */

#nav_menu {
    z-index: 2;
	height: 90px;
	width: auto;
	margin: 20px 0px 0px 0px;
}

#nav_menu ul {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    float: right;
}

#nav_menu ul li {
    float: left;
    padding: 25px 50px;
}

/* 가운데 이미지 */

.ImgSlides {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#content-bottom > #content-middle {
    width: calc(100% - 600px);
    float: left;
    margin: 0 50px;
}

#mainImages > img {
    width: 100%;
    height: 450px;
}

/* Grid 그리드 */

#content-top {
    margin: 0px 50px;
}

#content-bottom {
    border-top: 2px solid gray;
    padding: 50px 50px 50px 100px;
}

#content-bottom > #content-left {
    width: 200px;
    float: left;
    box-sizing: border-box;
}

#content-bottom > #content-right {
    width: 200px;
    float: left;
    box-sizing: border-box;
}

#content-right > div:nth-child(1) > div:nth-child(2) > ul {
    font-size: 13px;
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

#content-right > div:nth-child(1) > div:nth-child(2) > ul > li > a {
    display: block;
}

.margin-auto {
    margin: auto;
}

/* 로그인 부분 */

#login-input {
    float: left;
    width: calc(100% - 70px);
    height: 50px;
}

#PW {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-top: 0;
    height: 50%;
    box-sizing: border-box;
}

#ID {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    height: 50%;
    box-sizing: border-box;
}

#submitLogin {
    background-color: #1D9595;
    color: white;
    border: none;
    height: 50px;
    width: 70px;
    cursor: pointer;
    text-decoration: none;
    float: right;
}

#register-find {
    float: left;
}

#register-find > ul > li {
    display: inline-block;
}

a {
    text-decoration-line: none;
}

a:visited {
    color: black;
}

a:hover {
    color: #1D9595;
}