<!DOCTYPE html>
<html>

<head>
    <title>게시판</title>
    <link rel="stylesheet" type="text/css" href="../public/css/board.css">
</head>

<body>
    <div id="nav_menu">
        <img src="../public/img/moj_logo.png", width="400", height="70">
        <ul>
            <li>문제</li>
            <li>대회</li>
            <li>랭킹</li>
            <li>마이페이지</li>
            <li>게시판</li>
        </ul>
    </div>
    <div id="content">
            <table id="list">
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>댓글</th>
                    <th>작성일</th>
                </tr>
            
            </table>
    </div>
</body>

</html>