<!DOCTYPE html>
<html>

<head>
    <title>problem</title>
    <link rel="stylesheet" type="text/css" href="problem.css">
</head>

<body>
    <div id="nav_menu">
        <img src="moj_logo.png", width="400", height="70">
        <ul>
            <li>문제</li>
            <li>대회</li>
            <li>랭킹</li>
            <li>마이페이지</li>
            <li>게시판</li>
        </ul>
    </div>
    <div id="content">
        <!-- 문제 들어가는 div -->
        <div id="move">
            <div id="prev">
                <p>이전문제</p>
            </div>
            <div id="number">
                <p>1000</p>
            </div>
            <div id="next">
                <p>다음문제</p>
            </div>
        </div>
        <div id="title">
            <div id="problem_name">개념원리 미적 || 001</div>
            <div id="book">개념원리</div>
            <div id="grade">고등</div>
            <div id="field_미적분">미적분</div>
        </div>
        <div id="info">
            <p>제출 : 234,567,890 | 정답 : 123,456,789 | 맞은 사람 : 123,456,789 | 정답률 : 46.505%</p>
        </div>
        <div id="problem">
            <div id="munjae">
                <p>문제</p>
            </div>
            <div id="naeyong">
                <img src="http://latex.codecogs.com/gif.latex?\sin&space;75^{\circ}&plus;\cos&space;15^{\circ}&plus;\tan&space;65{\circ}&space;=&space;a\sqrt{2}&space;&plus;&space;b\sqrt{6}&space;&plus;&space;c" sizes="" />
                    일 때, a + b + c의 값을 구하시오.
            </div>
            </div>
            <div id="answer">
                <form action="#">
                    <div>
                        <input type="text" name="result" placeholder="답">
                        <input type="submit" name="submit">
                    </div>
                </form>
            </div>
        </div>
</body>

</html>