<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/register_css.css">
    <title>Register</title>
</head>

<body>
    <header>
        <img src="../img/logofull.png" alt="MOJ LOGO">
    </header>
    <main>
        <form action="/auth/register" method="POST">
            &nbsp;아이디<br><input type="text" name="id" id="">
            <br>&nbsp;비밀번호<br><input type="password" name="pw" id="">
            <br>&nbsp;비밀번호 재확인<br><input type="password" name="" id="">
            <br>&nbsp;본인 확인 이메일<br><input type="email" name="" id="">
            <br><button type="submit">가입하기</button>
        </form>
    </main>
</body>

</html>