<!DOCTYPE html>
<html>

<head>
    <title>게시판</title>
    <link rel="stylesheet" type="text/css" href="../public/css/board.css">
</head>

<body>
    <div id="nav_menu">
        <img src="../public/img/moj_logo.png", width="400", height="70">
        <ul>
            <li>문제</li>
            <li>대회</li>
            <li>랭킹</li>
            <li>마이페이지</li>
            <li>게시판</li>
        </ul>
    </div>
    <div id="content">
            <table id="list">
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>댓글</th>
                    <th>작성일</th>
                </tr>
                <tr>
                    <td>표현을 수정해주세요</td>
                    <td>asd</td>
                    <td>0</td>
                    <td>18/11/06</td>
                </tr>
                <tr>
                    <td>맞는데 왜 틀려요</td>
                    <td>asd</td>
                    <td>1</td>
                    <td>18/11/05</td>s
                </tr>
                <tr>
                    <td>데이터를 추가해주세요.</td>
                    <td>aqwe</td>
                    <td>13</td>
                    <td>17/12/31</td>
                </tr>
                <tr>
                    <td>안녕하세요</td>
                    <td>klimmek55</td>
                    <td>12345</td>
                    <td>05/03/01</td>
                </tr>
            </table>
    </div>
</body>

</html>