<!DOCTYPE html>
<html>
<head>
	<title>게시판글</title>
	<link rel="stylesheet" type="text/css" href="boardpost.css">
</head>
<body>
	<div id="nav_menu">
        <img src="moj_logo.png", width="400", height="70">
        <ul>
            <li>문제</li>
            <li>대회</li>
            <li>랭킹</li>
            <li>마이페이지</li>
            <li>게시판</li>
        </ul>
    </div>
    <div id="content">
    	<p id="writer">klimmek55</p>
    	<p id="title">안녕하세요</p>
        <p id="date">작성일 : 2005년 3월 1일</p>
        <div class="temp"></div>
        <hr>
        <p id="maintext">반갑습니다<br>안녕하세요</p>
        <hr>
        <p id="commentlist">댓글 (123,45개)</p>
        <a href="" id="write">댓글 작성</a>
        <div class="temp"></div>
        <p class="commentid">asd</p>
        <p class="comment">네</p>
        <hr>
        <p class="commentid">asdf</p>
        <p class="comment">네</p>
    </div>
</body>
</html>